<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Perlombaan Boba Session 2</title>

    <!-- Profile Website Start-->
    <link rel="website icon" type="png" href="/public/img/BOBA.png" />

    <!-- Profile Website End -->
    <link href="/public/css/style.css" rel="stylesheet" type="text/css" />
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap" rel="stylesheet" />

    <!-- Feather Icons -->
    <script src="https://unpkg.com/feather-icons"></script>

    <!-- My Style -->
    <link rel="stylesheet" href="css/style.css" />
</head>

<body>
    <!-- Navbar Start -->

    <nav class="navbar">
        <div>
            <img src="/public/img/BACOD.png" alt="" width="40" height="35" />
        </div>
        <a href="#" class="navbar-logo"><span>Long</span>Run.</a>
        <div class="navbar-nav">
            <a href="#home">Home</a>
            <a href="#about">Informasi Lomba</a>
            <a href="#menu">Daftar</a>
            <a href="#contact">Kontak</a>
        </div>

        <div class="navbar-ekstra">
            <a href="#" id="search"><i data-feather="search"></i></a>
            <a href="#" id="shopping-cart"><i data-feather="log-in"></i></a>
            <a href="#" id="hamburger-menu"><i data-feather="menu"></i></a>
        </div>
    </nav>

    <!-- Navbar End -->

    <!-- Hero Section start -->
    <section class="hero" id="home">
        <main class="content">
            <h1>Mari ikuti perlombaan<span> Marathon</span></h1>
            <p>
                <b>MENS SANA IN CORPORE SANO</b><br />
                <b>Jiwa yang sehat, dalam tubuh yang sehat</b>
            </p>
            <a href="#menu" class="cta">Daftar Sekarang</a>
        </main>
    </section>

    <!-- Hero Section end -->

    <!-- About Section start-->
    <section id="about" class="about">
        <h2><span>Informasi</span> lomba</h2>

        <div class="row">
            <div class="about-img">
                <img src="/public/img/Animasi-Marathon.png" alt="informasi lomba" />
            </div>
            <div class="content">
                <h3>Penjelasan singkat olahraga lari Marathon</h3>
                <p>
                    Lari marathon adalah lari jarak jauh yang dilakukan di luar ruangan dengan standar jarak tempuh sejauh 42.195 meter.
                </p>
                <p>
                    Lari marathon banyak digemari karena syarat nilai perjuangan dan sejarah. Selain itu medan yang dilintasi marathon biasanya selalu bervariasi dan menantang.
                </p>
            </div>
        </div>
    </section>
    <!-- About Section end-->

    <!-- Daftar Section start -->
    <section id="menu" class="menu">
        <h2><span>Pendaftaran</span> Lomba</h2>
        <div>
            <p>
                <b>
            Berikut adalah Formulir untuk Daftar pada event Marathon Kali ini.
          </b>
            </p>
        </div>
        <form action=""></form>

        <div class="form">
            <form action="/submit-form" method="post">
                <div class="input-daftar">
                    <i data-feather="user"></i>
                    <input type="text" placeholder="Nama peserta" 
                    id="nama-peserta"
                    name="namapeserta"
                    />
                </div>
                <div class="input-daftar">
                    <i data-feather="calendar"></i>
                    <input type="text" placeholder="Tanggal Lahir Peserta" 
                    id="ttl"
                    name="ttl"
                    />
                </div>
                <div class="input-daftar">
                    <i data-feather="phone"></i>
                    <input type="text" placeholder="No telp peserta" 
                    name="telpon"
                    id="telpon"/>
                </div>
                <div class="input-daftar">
                    <i data-feather="map-pin"></i>
                    <input type="text" placeholder="Alamat peserta" 
                    id="alamat"
                    name="alamat"/>
                </div>
                <div class="input-daftar">
                    <i data-feather="mail"></i>
                    <input type="text" placeholder="Email peserta"
                    id="email"
                    name="email"/>
                </div>

                <div>
                    <div class="input-daftar">
                        <input type="radio" id="pria" name="pria" />
                        <label for="Pria">Pria</label
              >

              <div class="input-daftar">
                <input type="radio" id="wanita" name="wanita" />
                <label for="Wanita">Wanita</label
                >
              </div>
              <button type="submit" class="btn-daftar" id="daftar">Kirim</button>
            </div>
          </div>
        </form>
      </div>
    </section>

    <!-- Daftar Section end -->

    <!-- Contact Section start -->
    <selection id="contact" class="contact">
      <h2><span>Kontak</span> Kami</h2>
      <p>
        <b>
          Apabila ada pertanyaan harap mengisi form dibawah ini! Terima Kasih.
        </b>
      </p>

      <div class="row">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d253497.1351136674!2d107.5034147084461!3d-6.903429115267411!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e68e6398252477f%3A0x146a1f93d3e815b2!2sBandung%2C%20Kota%20Bandung%2C%20Jawa%20Barat!5e0!3m2!1sid!2sid!4v1676462197480!5m2!1sid!2sid"
        ></iframe>
        <form action="">
          <div class="input-grup">
            <i data-feather="user"></i>
            <input type="text" placeholder="Nama" />
          </div>
          <div class="input-grup">
            <i data-feather="mail"></i>
            <input type="text" placeholder="Email" />
          </div>
          <div class="input-grup">
            <i data-feather="phone"></i>
            <input type="text" placeholder="no hp" />
          </div>
          <button type="submit" class="btn">Kirim Pesan</button>
        </form>
      </div>
    </selection>
    <!-- Contact Section end -->

    <!-- Footer start -->
    <footer>
      <div class="social">
        <a href="#"><i data-feather="instagram"></i></a>
        <a href="#"><i data-feather="twitter"></i></a>
        <a href="#"><i data-feather="facebook"></i></a>
      </div>

      <div class="links">
        <a href="#home">Home</a>
        <a href="#about">Informasi Lomba</a>
        <a href="#menu">Daftar</a>
        <a href="#contact">Kontak</a>
      </div>

      <div class="credit">
        <p>Created by <a href="">Kelompok 5</a>.| &copy; 2023</p>
      </div>
    </footer>
    <!-- Footer end -->

    <!-- Feather Icons -->
    <script>
      feather.replace();
    </script>

    <!-- My Javascripth -->
    <script src="js/script.js"></script>
    <div>
      <marquee behavior="ada" direction="10"
        >Terima kasih Kepada kang Restu dan Para Mentor BACOD pada Session 2
        kali ini, Terima kasih telah memberikan kami pelajaran dari Zero To Be
        Hero. untuk memulai karir di bidang IT</marquee
      >
    </div>
  </body>
</html>